{
	admin :2019
	netbird {
		management_url http://nb-server:8080
		setup_key {$NB_SETUP_KEY}
		log_level info

		node ingress {
			hostname caddy-integration
		}
	}
	layer4 {
		# TCP → postgres
		:5432 {
			route {
				netbird 172.28.0.11:5432 ingress
			}
		}
		# UDP → coredns
		udp/:9053 {
			route {
				netbird 172.28.0.12:53 ingress
			}
		}
		# SNI TLS passthrough → nginx HTTPS
		:4443 {
			@echotls tls sni echo-tls.test
			route @echotls {
				netbird 172.28.0.10:8443 ingress
			}
		}
	}
}

:8088 {
	reverse_proxy 172.28.0.10:8080 {
		transport netbird ingress
	}
}
